@charset "UTF-8";

div.container > div{
	
	border: solid 0px red;
	width: 80%;
	margin: 5% 0;
	
}

.navbar {
  border: none;
  height: 75px; 
  min-height: 75px;
  background-color: #F0F8FF;
}

#sidebar-wrapper > div.sidebar-heading.d-flex.justify-content-between.align-items-center.p-3 {
	border: solid 0px red;
	background-color: #F0F8FF;
}

#sidebar-wrapper > div.sidebar-heading.d-flex.justify-content-between.align-items-center.p-3 > span {
	font-weight: bold;
}